@import "variables";

body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0%;

    font-family: 'Roboto', sans-serif;
}

.content{
    width: 1240px;
}

ul li {
    list-style-type: none;
}

input {
    padding-left: 20px;
}

::placeholder { 
    color: gray;
    opacity: .75;
    font-size: 14px;
  }