@import "variables";

body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0%;

    font-family: 'Roboto', sans-serif;
}

.content{
    width: 1240px;
}

button, ul li {
    list-style-type: none;
    cursor: pointer;
}

button:hover, ul li:hover{
    transition: 0.3s ease;
    background-color: rgba(0,0,0,0.1);
    opacity: 0.8;
}

input {
    padding-left: 20px;
}

::placeholder { 
    color: gray;
    opacity: .75;
    font-size: 14px;
}
