@import "variables";

.main-logo{
    background-image: url('images/logo-desktop.jpg');
    padding-top: 10px;

    img{
        width: 240px;
        height: 60px;
    }
}

.header-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.search-field{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input{
        height: 40px;
        width: 100%;
        padding-left: 40px;
        padding-top: 5px;

        border-radius: 5px;
        border: solid 1px black;
    }
}

.fa-search{
    position: relative;
    left: 30px;
    color:$main-red-orange;
}

.cart-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    figure{
        margin: 0 5px 0px 50px;
    }

    em{
        color:$main-red-orange;
    }
}

.cart-counter{
    text-transform: uppercase;
    color: gray;
}