@import "variables";

.navigation-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 7.5%;
    background-color: $main-purple;
    color: #FFFFFF;
    font-size: 1rem;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        
        li{
            margin: 0px 15px;
            font-style: italic;
            text-transform: capitalize;

            span{
                font-style: initial;
                margin-left: 10px;
            }
        }
    }
}

.sign-btn{
    margin-left: 5%;
    margin-right: 80px;

    span {
        opacity: 0.3;
    }
}

#clearance-btn{
    background-color: $dark-purple;
    width: 115px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
}